.catalog {
    padding-bottom: 100px;
    padding-top: 80px;
    &__tabs {
        margin-top: 70px;
        display: flex;
        list-style: none;
        justify-content: center;
        padding-left: 0;
    }
    &__tab {
        color: #6b6b6b;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        line-height: 45px;
        text-transform: uppercase;
        width: 220px;
        height: 50px;
        border: 2px solid #d0d0d0;
        margin: 0 5px;
        cursor: pointer;
        transition: 0.5s all;
        // плавность анимации
        // смена бордера
        transform: skewX(-25deg);
        &_active {
            background-color: $main-color;
            color: #ffffff;
        }
        &:hover {
            box-shadow: 3px 3px 20px $main-color;
            border: none;
            background-color: $main-color;
            color: #ffffff;
            // по Х, по У, размытие
        }
        div {
            transform: skewX(25deg);
        }
        &:active {
            background-color: $main-color;
            color: #ffffff;
            border: none;
        }
    }
    &__content {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        display: none;
        &_active {
            display: flex;
        }
    }
    &-item {
        width: 300px;
        height: 450px;
        border: 2px solid #e8e8e8;
        background-color: #ffffff;
        padding: 20px 26px 20px 26px;
        overflow: hidden;
        margin-bottom: 20px;
        position: relative;
        &__img {
            height: 200px;
            max-width: 100%;
            display: block;
            margin: 0 auto;
        }
        &__title {
            margin-top: 20px;
            color: #0d0d0d;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
        }
        &__subtitle {
            margin-top: 16px;
            color: #0d0d0d;
            font-size: 14px;
            font-weight: 300;
            text-align: center;
        }
        &__link {
            display: block;
            color: $main-color;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            margin-top: 15px;
            text-transform: uppercase;
            &:hover {
                color: $main-color;
            }
        }
        &__back {
            display: block;
            position: absolute;
            color: $main-color;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            left: 50%;
            transform: translateX(calc(-50% - 19px));
            bottom: 0px;
            text-decoration: underline;
            text-transform: uppercase;

            &:hover {
                color: $main-color;
            }
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__old-price {
            color: #555555;
            font-size: 14px;
            font-weight: 300;
            text-align: left;
            text-decoration: line-through;
        }
        &__price {
            color: #050505;
            font-size: 20px;
            font-weight: 700;
            text-align: left;
        }
        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
        }
        &__content {
            width: 50%;
            transform: translateX(-110%);
            margin-right: 0px;
            transition: 0.5s all;
            &_active {
                transform: translateX(0%);
                margin-right: 20px;
            }
        }

        &__list {
            width: 50%;
            margin-left: 20px;
            transform: translateX(0%);
            padding-right: 20px;
            transition: 0.5s all;
            padding-left: 19px;
            margin-bottom: 0;
            list-style-type: none;
            &_active {
                transform: translateX(-100%);
                margin-left: 0px;
            }

            li {
                color: #555555;
                font-size: 14px;
                font-weight: 300;
                text-align: left;
                margin-bottom: 20px;
                position: relative;
                &:nth-child(4) {
                    margin-bottom: 0;
                }
                &:nth-child(5) {
                    margin-left: 0;
                }
                &::before {
                    content: "";
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background-color: $main-color;
                    left: -14px;
                    top: 7px;
                }
            }
        }

        hr {
            width: 260px;
            height: 1px;
            background-color: #e8e8e8;
            // полоска состоит из 2х бордеров, скрываем верхний  что бы сделать линию тоньше
            border-bottom: none;
            margin-top: 10px;
            margin-bottom: 5px;
        }
    }
}
